/* Title bar */
.titlebar-buttonbox {
    display: none !important;
}

.titlebar-spacer {
    display: none !important;
}

/* Tab bar */
#navigator-toolbox {
    border: 0px !important;
}

#TabsToolbar {
    margin-left: 20vw !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
    margin-top: -36px !important;
    margin-right: 80vw !important;
}

/* URL bar */
#back-button {
    display: none !important;
}

#forward-button {
    display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#urlbar-container {
    min-width: 100px !important;
}

#urlbar {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#urlbar[focused] {
    width: 100vw !important;
}

#page-action-buttons {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}
